<div class="movie-component-main">
  <!-- The search form -->
  <div [formGroup]="searchForm">
    <input type="text" id="search-input" formControlName="search" (keyup.enter)="onSearchClicked()">
    <button type="button" (click)="onSearchClicked()">Search</button>
  </div>

  <!-- The Movie Details section -->
  <div *ngIf="(showError$ | async) === false && movie && (loading$ | async) === false" class="movie-details">
    <div><span>Title:</span><span>{{movie.title}}</span></div>
    <div><span>Year:</span><span>{{movie.year}}</span></div>
    <div><span>Rating:</span><span>{{movie.rating}}</span></div>
    <div><span>Runtime:</span><span>{{movie.runtime}}</span></div>
    <div><span>Genre:</span><span>{{movie.genre}}</span></div>
    <div><span>Director:</span><span>{{movie.director}}</span></div>
  </div>

  <!-- The Error Message -->
  <div *ngIf="(showError$ | async) === true && (loading$ | async) === false">
    <p>{{message}}</p>
  </div>

  <!-- The Spinner -->
  <!-- <mat-spinner class="movie-spinner" *ngIf="(loading$ | async) === true" diameter="40" strokeWidth="2"></mat-spinner>
   -->
   <app-app-spinner *ngIf="(loading$ | async) === true"></app-app-spinner>
  
</div>
